@import 'bootstrap/scss/functions.scss';
@import 'bootstrap/scss/variables.scss';
@import 'bootstrap/scss/mixins.scss';

.customers-page {
  .item-list {
    margin: -#{map-get($spacers, 3)} 0;
    .item-row {
      margin: map-get($spacers, 3) 0;
    }
    @include media-breakpoint-up(md) {
      margin: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: map-get($spacers, 2);
      .item-row {
        margin: 0;
      }
    }
    @include media-breakpoint-up(xl) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
