@import 'bootstrap/scss/functions.scss';
@import 'bootstrap/scss/variables.scss';
@import 'bootstrap/scss/mixins.scss';

.item-list {
  margin: -#{map-get($spacers, 3)} 0;
  .product-row {
    margin: map-get($spacers, 3) 0;
  }
  @include media-breakpoint-up(md) {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: map-get($spacers, 3);
    .product-row {
      margin: 0;
    }
  }
}
