@import 'bootstrap/scss/functions.scss';
@import 'bootstrap/scss/variables.scss';
@import 'bootstrap/scss/mixins.scss';

body {
  width: 100%;
  height: 100%;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.panel-body {
  padding: map-get($spacers, 4) 0;
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: map-get($spacers, 3);
  }
}

.item-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    padding: 0;
    margin: 0;
  }
}

.action {
  display: flex;
  justify-content: center;
  padding-top: map-get($spacers, 4);
  gap: map-get($spacers, 2);
}

.floating {
  position: fixed;
  top: map-get($spacers, 1);
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: map-get($spacers, 1) map-get($spacers, 3);
  z-index: 999;
}

.right_slide_pane {
  width: 80% !important;
  @include media-breakpoint-up(md) {
    width: 40% !important;
  }
  @include media-breakpoint-up(xl) {
    width: 30% !important;
  }
}
